<!-- Contact Page -->

<header>
    <nav>
        <ul>
            <li class="active"><a href="#/home">Home</a></li>
            <li><a href="#/reservations">Reservations</a></li>
            <li><a href="#/lunch">Lunch</a></li>

        </ul>
        <h1>Chilango</h1>
        <ul>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/dinner">Dinner</a></li>

        </ul>
    </nav>
    <h2>Wholesome Mexican Food</h2>
</header>

        <h3>Contact page</h3>
<footer>
    <section>
        <nav>
            <ul>
                <li><a id="activeF" href="#/home">Home</a></li>
                <li><a href="#/lunch">Lunch</a></li>
                <li><a href="#/reservations">Reservations</a></li>
                <li><a href="#/dinner">Dinner</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </nav>
        <p>&copy;2014 Chilango Restaurant all rights reserved.</p>
        <p><img src="images/facebook.png" alt="Facebook Link" /> </p>
        <p><img src="images/twitter.png" alt="Twitter Link" /></p>
    </section>
</footer>