<!-- Home Page -->

<header>
    <nav>
        <ul>
            <li class="active"><a href="#/home">Home</a></li>
            <li><a href="#/reservations">Reservations</a></li>
            <li><a href="#/lunch">Lunch</a></li>

        </ul>
        <h1>Chilango</h1>
        <ul>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/dinner">Dinner</a></li>

        </ul>
    </nav>
    <h2>Wholesome Mexican Food</h2>
</header>


<section>
    <div>
        <p>Utilizing fresh, organic ingredients and grass-fed free-range raised meats,
            Chilango brings you recipes straight from the heart of Mexico City. Enjoy Mexican food at its finest
            while getting the healthiest meal possible. Go back to the basics with us and experience a little bit
            of Mexico City itself. </p>
        <p>All of our wines come from local Latin wine makers, who sell the wine to us at a wholesale price... and
            that is what you pay! Look for our special wine pairing events that will begin to happen once a month.</p>
        <p><img src="images/btm_orn.gif" alt="" /></p>
    </div>
    <div>
        <p><img src="images/cta.jpg" alt="Beautiful photo of a delicious Mexican dish."></p>
        <p><img src="images/banner.png" alt="Reserve Your Table Today!"></p>
    </div>

</section>

<footer>
    <section>
        <ul>
            <li class="active"><a href="#/home">Home</a></li>
            <li><a href="#/lunch">Lunch</a></li>
            <li><a href="#/reservations">Reservations</a></li>
            <li><a href="#/dinner">Dinner</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </section>
</footer>
