<!-- Landing Page -->

<header>
    <nav>
        <ul>
            <li><a href="#/landing">Home</a></li>
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/reservations">Reservations</a></li>
        </ul>
        <h1><img src="" alt="Chilango" /></h1>
        <ul>
            <li><a href="#/gcards">Gift Cards</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </nav>
    <h2>Wholesome Mexican Food</h2>
</header>

<section>
    <div>
        <h3></h3>
        <p>Utilizing fresh, organic ingredients and grass-fed free-range raised meats,
            Chilango brings you recipes straight from the heart of Mexico City. Enjoy Mexican food at its finest
            while getting the healthiest meal possible. Go back to the basics with us and experience a little bit
            of Mexico City itself. </p>
        <p>All of our wines come from local Latin wine makers, who sell the wine to us at a wholesale price... and
            that is what you pay! Look for our special wine pairing events that will begin to happen once a month.</p>
    </div>
    <div><!-- carousel here --></div>
    <p>Chilango: [che-lahn'-go] noun:</p>
    <p>1. A person who is born, raised, currently living, or comes from the outer areas of Mexico City</p>
</section>