<!-- Lunch Menu Page -->

<header>
    <nav>
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/reservations">Reservations</a></li>
            <li><a id="activeH" href="#/lunch">Lunch</a></li>

        </ul>
        <h1>Chilango</h1>
        <ul>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/dinner">Dinner</a></li>

        </ul>
    </nav>
    <h2>Wholesome Mexican Food</h2>
</header>

<section class="menuBG">
    <nav>
        <ul>
            <li><a href="#/lunch#appetizers">Appetizers</a></li>
            <li><a href="#/lunch#tacos">Tacos</a></li>
            <li><h3>Lunch</h3></li>
            <li><a href="#/lunch#huevos">Huevos</a></li>
            <li><a href="#/lunch#specialties">Specialties</a></li>
        </ul>
    </nav>

    <!-- Appetizers Menu -->
    <article id="appetizers">
        <h4>Appetizers</h4>
        <ul>
            <li><h5>Chorizo Chilaquiles</h5><span>Tortilla chips w/ our spicy tomato sauce & chorizo, topped w/ cheese &
                sour cream.</span></li>
            <li><h5>Chilango Caesar Salad</h5><span>romaine lettuce tossed w/ our own Caesar dressing (add chicken if
                desired).</span></li>
            <li><p><img src="images/guacamole.jpg" alt="Beautiful dish of guacamole with chips."/></p></li>
            <li><h5>Cocktail de Camaron</h5><span>shrimp w/ cilantro, red onion, & avocado in our cocktail sauce.</span></li>
            <li><h5>Pozole</h5><span>traditional hominy stew w/ chicken, chile guajillo, & cabbage.</span></li>
            <li><h5>Tostadas</h5><span>crispy tortillas topped w/ chicken, pinto beans, lettuce, cotija cheese, & sour cream (2).</span></li>
            <li><h5>Sopa de Tortilla</h5><span>organic tortilla strips in chicken-tomato Mexican soup w/ avocado, cheese, & potatoes.</span></li>
            <li><h5>Guacamole Chilango</h5><span>avocado w/ lime, onion, cilantro, & serrano chile.</span></li>
            <li><h5>Sopes</h5><span>side tortillas topped with your choice of picadillo, papa con chorizo, poblano rojos, or mushrooms (3).</span></li>
        </ul>
    </article>

    <!-- Tacos Menu -->
    <article id="tacos">
        <h4>Tacos</h4>
        <ul>
            <li><p><img src="" alt=""/></p></li>
            <li><h5>Tacos de Pescado</h5></li>
            <li><p>grilled rock cod w/ lettuce, red onion, radiah, & salsa</p></li>
            <li><h5>Tacos de Buche</h5></li>
            <li><p>slow-cooked pork maw w/ salsa verde (3).</p></li>
            <li><h5>Tacos de Filet Mignon</h5></li>
            <li><p>grilled filet mignon served on handmade tortillas w/ salsa de mocajete (3).</p></li>
            <li><h5>Tacos de Chuleta</h5></li>
            <li><p>grilled pork chop w/ cilanro & salsa (3).</p></li>
            <li><h5>Tacos Campechano</h5></li>
            <li><p>grilled skirtsteak w/ chorizo & salsa (3).</p></li>
            <li><h5>Tacos de Pollo</h5></li>
            <li><p>grilled chicken w/ chipotle salsa & guacamole (3).</p></li>
            <li><h5>Tacos de Suadero</h5></li>
            <li><p>thin-cut beef brisket w/ onions, cilantro, & salsa (3).</p></li>
        </ul>
    </article>
    
</section>

<footer>
    <section>
        <nav>
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/reservations">Reservations</a></li>
                <li><a id="activeF" href="#/lunch">Lunch</a></li>
                <li><a href="#/dinner">Dinner</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </nav>
        <p>&copy;2014 Chilango Restaurant all rights reserved.</p>
        <p><img src="images/facebook.png" alt="Facebook Link" /> </p>
        <p><img src="images/twitter.png" alt="Twitter Link" /></p>
    </section>
</footer>
