<!-- Menu Page -->

<header>
    <nav>
        <ul>
            <li><a href="#/landing">Home</a></li>
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/reservations">Reservations</a></li>
        </ul>
        <h1><img src="" alt="Chilango" /></h1>
        <ul>
            <li><a href="#/gcards">Gift Cards</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </nav>
    <h2>Wholesome Mexican Food</h2>
</header>

<section>
    <div>
    <h3>menu page</h3>
    </div>
</section>