//======= IMPORTS ================

@import "../bourbon/bourbon.scss";

//======== VARIABLES =============

$red: #700c00;
$green: #306f3a;

$gw-column: 242px;
$gw-gutter: 25px;
$centered: 267px;

//========== FONTS ===============

@font-face {
  font-family: 'lobster_tworegular';
  src: url('../../fonts/lobstertwo-regular-webfont.eot');
  src: url('../../fonts/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/lobstertwo-regular-webfont.woff') format('woff'),
  url('../../fonts/lobstertwo-regular-webfont.ttf') format('truetype'),
  url('../../fonts/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('../../fonts/caviar_dreams_bold-webfont.eot');
  src: url('../../fonts/caviar_dreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/caviar_dreams_bold-webfont.woff') format('woff'),
  url('../../fonts/caviar_dreams_bold-webfont.ttf') format('truetype'),
  url('../../fonts/caviar_dreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviardreams';
  src: url('../../fonts/caviardreams-webfont.eot');
  src: url('../../fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/caviardreams-webfont.woff') format('woff'),
  url('../../fonts/caviardreams-webfont.ttf') format('truetype'),
  url('../../fonts/caviardreams-webfont.svg#caviardreams') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*==================================================
  Site Wide Styles
==================================================*/

body {
  font: 1em caviar_dreamsbold;
  background: url("../../images/rockywall.png");
}

// ============ Header =====

header {
  width: 100%;
  height: 170px;
  background: url("../../images/header_background.png") repeat-x;

  nav {
    width: 960px;
    margin: 0 auto;

    ul:first-child {
      width: 380px;
      float: left;

      li {

        float: left;
        width: 96px;
        margin: 54px 65px 0 0;
        list-style: none;
        display: block;

        a {
          height: 20px;
          line-height: 1.75;
          color: rgba(255,255,255,0.6);
          text-decoration: none;
          display: block;
          border-bottom: 1px solid rgba(255,255,255,0);
          border-top: 1px solid rgba(255,255,255,0);
          @include transition (all .3s);
        }
      }

      a:hover {
        height: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid rgba(255,255,255,1);
      }

      li:first-child {
        width: 40px;
        margin-right: 69px;
        float: left;
      }

      li:last-child {
        width: 43px;
        float: left;
      }
    }

    h1 {
      width: 200px;
      font: bold 2.875em lobster_tworegular;
      color: #fff;
      text-align: center;
      margin-top: 36px;
      float: left;
      display: block;
      text-shadow: 0 3px 3px rgba(0,0,0,.3);
    }

    ul:last-child {
      width: 380px;
      float: right;

      li {

        float: right;
        margin: 54px 0 0 73px;
        list-style: none;
        display: block;

        a {
          height: 20px;
          line-height: 1.75;
          color: rgba(255,255,255,0.6);
          text-decoration: none;
          display: block;
          border-bottom: 1px solid rgba(255,255,255,0);
          border-top: 1px solid rgba(255,255,255,0);
          @include transition (all .3s);
        }
      }

      a:hover {
        height: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid rgba(255,255,255,1);
      }

      li:first-child {
        float: right;
      }

      li:last-child {
        float: right;
      }
    }
  }

  h2 {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 2;
    text-align: center;
    color: #fff;
    text-shadow: 0, 3px, 3px,rgba(0,0,0,0.3);
  }
  #activeH {
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 30px;
  }
}

// ============ Footer =======

footer {
  background: url("../../images/footer-bg.png") repeat-x;
  width: 100%;

  section{
    width: 960px;
  }

  nav {
    width: 370px;

    ul {
      width: 370px;

      li {
        margin-top: 6px;
        padding: 0 5px;
        list-style: none;
        height: 20px;
        width: auto;
        border-right: 1px solid rgba(255,255,255,0.2);
        float: left;

        a {
          text-decoration: none;
          color: rgba(255,255,255,0.6);
          font-size: 14px;
        }
      }

      li:last-child {
        border: none;
        float: left;
      }
    }

    #activeF {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  p {
    font: 0.875em caviardreams;
    color: rgba(255,255,255,0.5);
    float: left;
    margin: 8px 0 0 70px;

    img {
      margin-top: 3px;
    }
  }

  p:nth-of-type(2) {
    width: 30px;
    height: 30px;
    float: right;
    margin: 3px 0 0 0;
  }

  p:last-child {
    float: right;
    margin: 3px 10px 0 0;
  }
}

/*===================================
  Home Page
===================================*/

section {
  margin: 30px auto 0 auto;
  width: 960px;
  @include clearfix;

  div:first-child {
    width: 301px;
    height: 438px;
    background: #fff;
    float: left;

    p {
      color: rgba(51, 51, 51, 1);
      padding: 10px 20px 10px 20px;
      font-size: 1em;
    }

    p:first-child {
      padding: 20px 20px 0 20px;
    }

    p:nth-of-type(2) {
      font-family: caviardreams;
      color: rgba(51, 51, 51, .8);
    }

    p:last-child {
      padding-top: 10px;
      text-align: center;
    }
  }

  div:last-child {
    float: left;

    video {
      width: 659px;
      height: 438px;
      background: #700c00;
    }

    p {
      position: relative;
      top: -34px;
      left: 24.810318664643%;

      img {
        visibility: hidden;
      }
    }
  }
}

/*============================
  Lunch Menu
============================*/

.menuBG {
  background: #fff;
  width: 960px;
  height: 2700px;
  margin: 30px auto 20px auto;
  padding: 30px;
  border: 1px inset rgba(0, 0, 0, 0.1);
  position: relative;


  nav {
    width: 776px;
    height: 45px;
    background: #700c00;
    position: relative;
    margin: 0 auto;
    z-index: 1000000000;

    ul {
      width: 676px;
      height: 45px;
      position: relative;
      left: 50px;

      li {
        width: 130px;
        height: 45px;
        list-style: none;
        float: left;

        h3 {
          color: rgba(255, 255, 255, 1);
          font-size: 1.875em;
          margin: 5px 0 10px;
          text-align: center;

        }

        h3:before {
          content: url("../../images/lunchLOrnament.png");
          padding-right: 10px;
        }

        h3:after {
          content: url("../../images/lunchROrnament.png");
          padding-left: 10px;
        }

        a {
          color: rgba(255, 255, 255, 0.6);
          text-decoration: none;
          display: block;
          line-height: 2.75;
          text-align: center;
        }

        a:hover {
          color: #fff;
        }
      }

      li:nth-of-type(4) {
        float: right;
        text-align: right;
      }

      li:last-child {
        float: right;
        text-align: right;
      }
    }
  }

  nav:before {
    content: url("../../images/lunchBannerLeft.png");
    position: absolute;
    top: 0;
    left: 0;
  }

  nav:after {
    content: url("../../images/lunchBannerRight.png");
    position: absolute;
    top: 0;
    right: 0;
  }

  //=========== Appetizers ============

  article#appetizers {
    width: 776px;
    margin: 60px 92px;

    h4 {
      font: bold 36px lobster_tworegular;
      color: $green;
      text-align: center;
      margin-bottom: 30px;
    }

    dl {
      position: relative;
      height: 600px;

      dt {
        width: grid-width(1);
        font: 18px caviar_dreamsbold;
        color: $red;
        height: 30px;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
      }

      dt:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 0;
      }

      dt:nth-of-type(3) {
        position: absolute;
        left: 0;
        top: 152px;
      }

      dt:nth-of-type(4) {
        position: absolute;
        left: $centered;
        top: 152px;
      }

      dt:nth-of-type(5) {
        position: absolute;
        left: 0;
        top: 304px;
      }

      dt:nth-of-type(6) {
        position: absolute;
        left: $centered;
        top: 304px;
      }

      dt:nth-of-type(7) {
        position: absolute;
        right: 0;
        top: 304px;
      }

      dt:nth-of-type(8) {
        position: absolute;
        left: 0;
        top: 456px;
      }

      dd {
        width: grid-width(1);
        margin: 0;
        font: 1em caviardreams;
        color: #333;
      }

      dd:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 40px;
      }
      dd:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 40px;
      }

      .guacamole_img {
        width: 242px;
        height: 242px;
        display: block;
        position: absolute;
        right: 0;
        top: 20px;
      }
      .guacamole_img img {
        width: 100%;
        height: 100%;
      }

      dd:nth-of-type(4) {
        position: absolute;
        left: 0;
        top: 195px;
      }

      dd:nth-of-type(5) {
        position: absolute;
        left: $centered;
        top: 195px;
      }

      dd:nth-of-type(6) {
        position: absolute;
        left: 0;
        top: 347px;
      }

      dd:nth-of-type(7) {
        position: absolute;
        left: $centered;
        top: 347px;
      }

      dd:nth-of-type(8) {
        position: absolute;
        right: 0;
        top: 347px;
      }

      dd:nth-of-type(9) {
        position: absolute;
        left: 0;
        top:499px;
      }
    }
  }

  //=============== Tacos ===============

  article#tacos {
    width: 776px;
    margin: 0 92px;

    h4 {
      font: bold 36px lobster_tworegular;
      color: $green;
      text-align: center;
      margin-bottom: 30px;
    }

    dl {
      position: relative;
      height: 500px;

      dt {
        width: grid-width(1);
        font: 18px caviar_dreamsbold;
        color: $red;
        height: 30px;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
      }

      dt:first-child {
        position: absolute;
        left: $centered;
        top: 0;
      }

      dt:nth-of-type(2) {
        position: absolute;
        right: 0;
        top: 0;
      }

      dt:nth-of-type(3) {
        position: absolute;
        left: $centered;
        top: 152px;
      }

      dt:nth-of-type(4) {
        position: absolute;
        right: 0;
        top: 152px;
      }

      dt:nth-of-type(5) {
        position: absolute;
        left: 0;
        top: 304px;
      }

      dt:nth-of-type(6) {
        position: absolute;
        left: $centered;
        top: 304px;
      }

      dt:nth-of-type(7) {
        position: absolute;
        right: 0;
        top: 304px;
      }

      dd {
        width: grid-width(1);
        margin: 0;
        font: 1em caviardreams;
        color: #333;
      }

      dd:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 30px;
      }
      dd:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 40px;
      }

      dd:nth-of-type(3) {
        position: absolute;
        right: 0;
        top: 40px;
      }

      dd:nth-of-type(4) {
        position: absolute;
        left: $centered;
        top: 195px;
      }

      dd:nth-of-type(5) {
         position: absolute;
         right: 0;
         top: 195px;
       }

      dd:nth-of-type(6) {
        position: absolute;
        left: 0;
        top: 347px;
      }

      dd:nth-of-type(7) {
        position: absolute;
        left: $centered;
        top: 347px;
      }

      dd:nth-of-type(8) {
        position: absolute;
        right: 0;
        top: 347px;
      }

      dd:nth-of-type(9) {
        position: absolute;
        left: 0;
        top:499px;
      }
    }
  }

  //=============== Huevos ==================

  article#huevos {
    width: 776px;
    margin: 0 92px;

    h4 {
      font: bold 36px lobster_tworegular;
      color: $green;
      text-align: center;
      margin-bottom: 30px;
    }

    dl {
      position: relative;
      height: 500px;

      dt {
        width: grid-width(1);
        font: 18px caviar_dreamsbold;
        color: $red;
        height: 30px;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
      }

      dt:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 0;
      }

      dt:nth-of-type(3) {
        position: absolute;
        left: 0;
        top: 152px;
      }

      dt:nth-of-type(4) {
        position: absolute;
        left: $centered;
        top: 152px;
      }

      dt:nth-of-type(5) {
        position: absolute;
        left: 0;
        top: 304px;
        height: 55px;
      }

      dd {
        width: grid-width(1);
        margin: 0;
        font: 1em caviardreams;
        color: #333;
      }

      dd:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 40px;
      }
      dd:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 40px;
      }

      .huevos_img {
        width: 242px;
        height: 242px;
        display: block;
        position: absolute;
        right: 0;
        top: 20px;
      }
      .huevos_img img {
        width: 100%;
        height: 100%;
      }

      dd:nth-of-type(4) {
        position: absolute;
        left: 0;
        top: 195px;
      }

      dd:nth-of-type(5) {
        position: absolute;
        left: $centered;
        top: 195px;
      }

      dd:nth-of-type(6) {
        position: absolute;
        left: 0;
        top: 372px;
      }
    }
  }

  //============== Specialties ================

  article#specialties {
    width: 776px;
    margin: 0 92px;

    h4 {
      font: bold 36px lobster_tworegular;
      color: $green;
      text-align: center;
      margin-bottom: 30px;
    }

    dl {
      position: relative;
      height: 500px;

      dt {
        width: grid-width(1);
        font: 18px caviar_dreamsbold;
        color: $red;
        height: 30px;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
      }

      dt:first-child {
        position: absolute;
        left: $centered;
        top: 0;
      }

      dt:nth-of-type(2) {
        position: absolute;
        right: 0;
        top: 0;
      }

      dt:nth-of-type(3) {
        position: absolute;
        left: $centered;
        top: 152px;
      }

      dt:nth-of-type(4) {
        position: absolute;
        right: 0;
        top: 152px;
      }

      dt:nth-of-type(5) {
        position: absolute;
        left: 0;
        top: 304px;
      }

      dt:nth-of-type(6) {
        position: absolute;
        left: $centered;
        top: 304px;
      }

      dt:nth-of-type(7) {
        position: absolute;
        right: 0;
        top: 304px;
      }

      dt:nth-of-type(8) {
        position: absolute;
        left: 0;
        top: 456px;
      }

      dd {
        width: grid-width(1);
        margin: 0;
        font: 1em caviardreams;
        color: #333;
      }

      dd:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 30px;
      }
      dd:nth-of-type(2) {
        position: absolute;
        left: $centered;
        top: 40px;
      }

      dd:nth-of-type(3) {
        position: absolute;
        right: 0;
        top: 40px;
      }

      dd:nth-of-type(4) {
        position: absolute;
        left: $centered;
        top: 195px;
      }

      dd:nth-of-type(5) {
        position: absolute;
        right: 0;
        top: 195px;
      }

      dd:nth-of-type(6) {
        position: absolute;
        left: 0;
        top: 347px;
      }

      dd:nth-of-type(7) {
        position: absolute;
        left: $centered;
        top: 347px;
      }

      dd:nth-of-type(8) {
        position: absolute;
        right: 0;
        top: 347px;
      }

      dd:nth-of-type(9) {
        position: absolute;
        left: 0;
        top:499px;
      }
    }
  }

  .bot_orn {
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    background: #ffffff;

  }
  .pCurl {
    position: relative;
    bottom: -50px;
    left: -15px;
    z-index: -1000;
  }
}

/*=========================================
      Reservations Page
=========================================*/

article#reserve {
  width: 960px;
  margin: 60px auto;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  position: relative;

  .reservations_left_container {
    width: 440px;
    float: left;

    h3 {
      position: absolute;
      left: -18px;
    }

    p {
      width: 236px;
      margin-top: 60px;
      text-align: center;
    }
  }

  .reservations_right_container {
    width: 440px;
    float: right;

    h3 {
      width: 100%;
      font-size: 24px;
      color: $green;
      margin-bottom: 30px;
      float: left;
    }

    label {
      color: #333;
      width: 100%;
      float: left;
    }

    input {
      border: 3px solid #ADACAD;
      width: 300px;
      height: 20px;
      float: left;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    input:focus {
      border: 3px solid #006f3b;
      -webkit-box-shadow: 0 0 1px #006f3b;
      -moz-box-shadow: 0 0 1px #006f3b;
      box-shadow: 0 0 1px #006f3b;;
    }

    #tele, #tele2 {
      width: 70px;
      margin-right: 5px;
    }

    #tele3 {
      width: 138px;
    }

    .error {
      width: 306px;
      color: #ff0000;
      text-indent: 5px;
      opacity: 0;
      float: left;
    }

    .error:nth-of-type(3) {
      margin-bottom: 40px;
    }

    button {
      width: 150px;
      height: 30px;
      background: #710D00;
      color: #fff;
      font-size: 18px;
    }

    .submit {
      background: #006f3b;
    }
  }
}
#pcurl {
  position: relative;
  bottom: -90px;
  left: -50px;
  margin: 0 auto;
  z-index: -1000;
}

article#reserve:after {
  content: '';
  display: block;
  clear: both;
}
